<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link th:href="@{/assets/css/login.css}" rel="stylesheet">
</head>
<body>
<h2>로그인</h2>
<div class="container" id="container">
  <!-- Sign-up Form -->
  <div class="form-container sign-up-container">
    <form th:action="@{/register}" method="post">
      <h1>계정 만들기</h1>
      <div class="social-container">
        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <span th:text="'이메일을 사용하여 회원가입하세요'">이메일을 사용하여 회원가입하세요</span>
      <input type="text" th:placeholder="'아이디'" name="username" required />
      <input type="email" th:placeholder="'이메일'" name="email" required />
      <input type="password" th:placeholder="'비밀번호'" name="password" required />
      <input type="text" th:placeholder="'닉네임'" name="nickname" required />
      <button type="submit" th:text="'회원가입'">회원가입</button>
  </div>

  <!-- Sign-in Form -->
  <div class="form-container sign-in-container">
    <form th:action="@{/login}" method="post">
      <h1>로그인</h1>
      <div class="social-container">
        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <span>계정 정보를 사용하세요</span>
      <input type="email" placeholder="이메일" name="email" required />
      <input type="password" placeholder="비밀번호" name="password" required />
      <a href="#">비밀번호를 잊으셨나요?</a>
      <button type="submit">로그인</button>
    </form>
  </div>

  <!-- Overlay Panels -->
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>다시 오신 것을 환영합니다!</h1>
        <p>계속 연결하려면 개인 정보를 사용하여 로그인해 주세요.</p>
        <button class="ghost" id="signIn">로그인</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>안녕하세요, 친구!</h1>
        <p>개인 정보를 입력하고 저희와 함께 여정을 시작하세요.</p>
        <button class="ghost" id="signUp">회원가입</button>
      </div>
    </div>
  </div>
</div>
<script th:src="@{/assets/js/login.js}"></script>
</body>
</html>